TWITCH_CHANNEL_NAME=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_OAUTH_TOKEN=
TWITCH_BROADCASTER_ID=

REWARD_TITLE=

TARGET_OUTPUT_NAME = ""
TEST_WITHOUT_REDEEMS=false

TTS_MODE=voicevox
VOICEVOX_VOICE_ID=3
PIPER_VOICE_NAME=amy

VOICEVOX_SPEED_SCALE=1.0
VOICEVOX_PITCH_SCALE=0.0
VOICEVOX_INTONATION_SCALE=1.0
VOICEVOX_VOLUME_SCALE=1.0

START_VOICEVOX=false
VOICEVOX_INSTALL_LOCATION=C:\Program Files\VOICEVOX